{% extends "base.html" %}

{% block title %}MBTI Oracle - Translator{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="visitor-count text-right">
            <p>Visitors: {{ visitor_count }} | Interpretations: {{ translator_clicks }}</p>
        </div>
        <h1 class="text-center mb-4">MBTI Translator</h1>
        <form method="post" id="translator-form">
            <div class="row">
                <!-- From MBTI Type and Original Message -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="from_mbti">From:</label>
                        <select id="from_mbti" name="from_mbti" class="form-control" required>
                            {% for type in mbti_types %}
                                <option value="{{ type }}" {% if from_mbti == type %}selected{% endif %}>{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea
                            id="original_message"
                            name="original_message"
                            class="form-control"
                            rows="10"
                            required
                            placeholder="Type your message here..."
                        >{{ original_message }}</textarea>
                    </div>
                </div>
                <!-- To MBTI Type and Translated Message -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="to_mbti">To:</label>
                        <select id="to_mbti" name="to_mbti" class="form-control" required>
                            {% for type in mbti_types %}
                                <option value="{{ type }}" {% if to_mbti == type %}selected{% endif %}>{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea
                            id="translated_message"
                            name="translated_message"
                            class="form-control"
                            rows="10"
                            readonly
                        >{{ translated_message }}</textarea>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Translate</button>
            </div>
            <div class="text-center">
                <span id="loading-message" class="loading-message ml-2" style="display: none;">
                    <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                    Thinking...
                </span>
            </div>
        </form>
        {% if interpretation %}
            <div class="mt-5">
                <h2>Interpretation:</h2>
                <p>{{ interpretation }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const form = document.getElementById('translator-form');
        const loadingMessage = document.getElementById('loading-message');

        form.addEventListener('submit', function() {
            loadingMessage.style.display = 'inline-block';
            mixpanel.track("Translator Submit", {
            "User ID": userId || "Anonymous",
            "Premium": isPremium
            });
        });
        console.log('Unique Visitors: {{ unique_visitor_count }}');
    </script>
{% endblock %}
