{% extends "base.html" %}

{% block content %}
<div class="container mt-2">
    <h1 class="text-center">MBTI Image Analyzer</h1>
    <p class="text-center">Upload your 3x3 image collage, and we'll guess your MBTI type!</p>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.image.label }}
            {{ form.image(class="form-control-file") }}
        </div>
        <button type="submit" class="btn btn-primary">Analyze Image</button>
    </form>
</div>
{% endblock %}
